@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;600&family=Luckiest+Guy&family=Poiret+One&display=swap');
html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: white;
    background-color: black;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.map-container {
    height: 50rem;
    width: 100%;
    border-radius: 20px;
}

.map_section {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-option {
    display: flex;
    list-style: none;
}

.nav-option li {
    margin-left: 3rem;
    font-family: 'Poiret One', cursive;
    font-weight: 800;
    font-size: 1.2rem;
}

.logo {
    cursor: pointer;
}

.teamcard-division {
    margin: 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-player {
    text-align: center;
    align-items: center;
}

.member {
    border-radius: 40rem;
    height: 10rem;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon {
    margin: 1rem 1rem;
}

.social-icon:hover {
    transform: scale(1.5);
    transition: 1.05s;
}

.team_container {
    text-align: center;
}

.TeamsCard {
    display: flex;
}

.black-portion {
    height: .5rem;
    width: 15rem;
    background-color: black;
    margin-bottom: 0.5rem;
}

.footer-icon {
    margin: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pride_face {
    position: relative;
}

.pride_cape {
    position: relative;
    margin-left: -8rem;
    margin-top: -10rem;
}

.getc_image_content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.get_connect_section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}