@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;600&family=Luckiest+Guy&family=Poiret+One&display=swap');
html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: white;
    background-color: black;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.map-container {
    height: 50rem;
    width: 100%;
    border-radius: 20px;
}

.map_section {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-option {
    display: flex;
    list-style: none;
}

.nav-option li {
    margin-left: 3rem;
    font-family: 'Poiret One', cursive;
    font-weight: 800;
    font-size: 1.2rem;
}

.logo {
    cursor: pointer;
}

.teamcard-division {
    margin: 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-player {
    text-align: center;
    align-items: center;
}

.member {
    border-radius: 40rem;
    height: 10rem;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon {
    margin: 1rem 1rem;
    transition: all .5s;
    cursor: pointer;
}

.social-icon:hover {
    transform: scale(1.2);
}

.team_container {
    text-align: center;
}

.TeamsCard {
    display: flex;
}

.black-portion {
    height: .5rem;
    width: 15rem;
    background-color: black;
    margin-bottom: 0.5rem;
}

.footer-icon {
    margin: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pride_face {
    position: relative;
}

.pride_cape {
    position: relative;
    margin-left: -8rem;
    margin-top: -10rem;
}

.getc_image_content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.get_connect_section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.margin-top {
    margin-top: 4rem;
}

.add-me {
    margin-top: 2rem;
    padding: 1rem;
    font-family: 'Poiret One', cursive;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    cursor: pointer;

}

.news-page {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.news-header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    text-align: right;
    width: 50rem;
    height: 35rem;
    animation: TransitionLeft 1s;
}

.bg-relative {
    position: relative;
}

.news-bg {
    position: fixed;
    z-index: -2;
    left: 0;
    top: 0;
    /* margin-left: 0; */
}

.news-overlays {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #111111 100%);
}

.new-articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.article-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: TransitionFromButtom 1s;
}

.main {
    width: 25rem;
    padding: 0 1rem;
}


.blue {
    background-color: blue;
}

.new-thumb {
    width: 100%;
}

.news-col {
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.read-more {
    padding: 1rem .5rem;
    /* height: 2rem; */
    text-align: right;
    border-bottom: 2px solid white;
}

.read-more a{
    color: white;
    text-decoration: none;
}

.new-articles h1 {
    font-size: 1.2rem;
    margin: 1rem 0;
}

.new-desp {
    color: rgb(187, 187, 187);
}